<!-- =========================
   PACKAGES SECTION   
============================== -->

<section class="packages" id="products">
<div class="container">
	<!-- =========================
   PRODUCTS SECTION   
============================== -->


			
    <!-- SECTION HEADER -->
        <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Музыка</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта.
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
		
		<!-- PRODUCTS -->
		<div class="row wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            
            <% 8.times.each do |t| %>
            <!-- SINGLE PRODUCT -->
                <div class="col-md-3">
				<div class="item item-1">
					<div class="item-overlay">
					</div>
					<div class="item-content">
						<div class="item-top-content">
							<div class="item-top-content-inner">
								<div class="item-product">
									<div class="item-top-title">
										<h5>Песня</h5>  <!-- PRODUCT TITLE-->
										<p class="subdescription">
											 Альбом
										</p> <!-- PRODUCT DESCRIPTION-->
									</div>
								</div>

							</div>
						</div>
						
						<!-- ITEM HOVER CONTENT-->
						<div class="item-add-content">
							<div class="item-add-content-inner">
								<div class="section">
									<p>
										Песня
									</p>
								</div>
								<div class="section">
									<a href="#" class="btn btn-primary custom-button red-btn">Включить</a><br/>
									<a href="#" class="btn btn-primary custom-button green-btn">Скачать</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- / END FIRST ITEM -->
			<% end %>
			
		</div> <!-- / END PRODUCTS LIST -->

	
</div> <!--END CONTAINER  -->
</section> <!-- END PACKAGES SECTION -->