<!-- =========================
   OUR TEAM SECTION   
============================== -->

<section class="our-team" id="team">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Люди района</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			Здесь расположен текст для демонстрации работы данного сайта.
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- TEAM MEMBERS -->
	<div class="row wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s">
		<!-- MEMBER -->
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="/images/people/03.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Пётр Петров</h5>
					<div class="position">
						Рыбак
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта.
					</p>
				</div>
			</div>
		</div>
		<!-- / END MEMBER -->
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="/images/people/01.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Пётр Петров</h5>
					<div class="position">
						Рыбак
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="/images/people/02.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Пётр Петров</h5>
					<div class="position">
						Рыбак
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="/images/people/03.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Пётр Петров</h5>
					<div class="position">
						Рыбак
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="/images/people/02.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Пётр Петров</h5>
					<div class="position">
						Рыбак
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="/images/people/01.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Пётр Петров</h5>
					<div class="position">
						Рыбак
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="/images/people/02.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Пётр Петров</h5>
					<div class="position">
						Рыбак
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="/images/people/03.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Пётр Петров</h5>
					<div class="position">
						Рыбак
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта. Здесь расположен текст для демонстрации работы данного сайта.
					</p>
				</div>
			</div>
		</div>
	</div> <!-- / END TEAM MEMBER LIST -->
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->